// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//grey
$color1: rgba(249, 247, 248, 1);
// clear blue
$color2: rgba(73, 208, 229, 1);
// medium blue
$color3: rgba(1, 119, 128, 1);
// dark blue
$color4: rgba(5, 82, 92, 1);
// dark Grey
$color5: rgba(43, 43, 43, 1);
