<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(
<%= image_path("warantize.png") %>
);">
  <div class="container">
    <h1>Warrantize !</h1>
    <p>Get your reverse logistic Organized !</p>
    <%= link_to "Try it now", products_path, class: " btn btn-flat" %>


  </div>
</div>
<!-- faire des cartes  -->
<div class="spacer"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1518135714426-c18f5ffb6f4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2573&q=80">
        <div class="card-trip-infos">
          <div>
            <h2>Improve your brand loyalty</h2>
            <p>Give your clients a proper vision of your process from their initial request till the resolution</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1531538512164-e6c51ea63d20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80">
        <div class="card-trip-infos">
          <div>
            <h2>Manage ressources efficiently</h2>
            <p>The process is clear and each step well documented. Employee and services knows exactly where to go next</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2495&q=80">
        <div class="card-trip-infos">
          <div>
            <h2>Get a better vision of your returns</h2>
            <p>Measures your main reverse logistic KPI in real time. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
