<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(
<%= image_path("warantize.png") %>
);">
  <div class="container">
    <h1>Warrantize !</h1>
    <p>Get your reverse logistic in order</p>
    <a class="btn btn-flat" href="#">get a free trial now</a>
  </div>
</div>


testing cloudinary
<%= cl_image_tag("qwu4m7h29azq7i7bg6se",
      width: 400, height: 300, crop: :fill) %>
